<p id="notice"><%= notice %></p>

<h1><%= @purchase_order.number %></h1>

<ul>
  <li><span><%=t('Comment')%>: </span><%= @purchase_order.comment %></li>

  <li><span><%=t('Reponedor')%>: </span><%= @purchase_order.replenisher.fname %></li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%=t('Items')%></th>
      <th scope="col"><%=t('Quantity')%></th>
      <th scope="col"><%=t('Price')%></th>
    </tr>
  </thead>
  <tbody>
  <% @purchase_items.each do |purchase_item|%>
  <tr>
    <td><%= purchase_item.product.name %></td>
    <td><%= purchase_item.quantity %></td>
    <td><%= purchase_item.price %></td>
  </tr>
  <%end%>
  <tbody>
</table>


<p><%= link_to t('Return Home'), purchase_orders_path %></p>
