<p id="notice"><%= notice %></p>

<h1><%= @replenisher.fname%> <%=@replenisher.lname  %></h1>

<ul>
  <li><span>Email: </span><%= @replenisher.email %></li>

  <li><span>Phone: </span><%= @replenisher.phone %></li>

  <li><span>DNI: </span><%= @replenisher.dni %></li>

</ul>

<p><%= link_to 'Return Home', replenishers_path %></p>
