<%= form_for @sale_order do |form| %>
  <div class="form-group">
    <%= form.label :number %>
    <%= form.text_field :number, id: :sale_order_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :comment %>
    <%= form.text_field :comment, id: :sale_order_comment, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :customer %>
    <%= form.collection_select :customer_id, Customer.all, :id, :lname, {prompt: true}, {:class=>"form-control"}  %>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th scope="col"><%=t('Product')%></th>
      <th scope="col"><%=t('Quantity')%></th>
      <th scope="col"><%=t('Upc')%></th>
      <th colspan="1" scope="col"><%=t('Actions')%></th>
    </tr>
  </thead>
    <tbody class="sale_items">
      <%= form.fields_for :sale_items do |sale_item| %>
        <%= render 'sale_item_fields', form: sale_item %>
      <%end%>
    </tbody>
  </table>
  <div class="text-center">
      <%= link_to_add_association t('Add item'), form, :sale_items, form_name: 'form', data: {"association-insertion-node" => "tbody.sale_items", "association-insertion-method" => "append"}, class: "btn btn-outline-dark btn-sm" %>
  </div>

  <div class="actions">
    <%= form.submit :class=>"btn btn-primary"%>
  </div>
  <button type="button" class="btn btn-primary launch-quagga" data-toggle="modal" data-target="#exampleModal">
  <%= t('Find products with barcode') %>
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= t('Find product') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="barcode-scanner">

        </div>
        <div id="product-name">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('Finish') %></button>
        <%= link_to_add_association t('Next'), form, :sale_items, form_name: 'form', data: {"association-insertion-node" => "tbody.sale_items", "association-insertion-method" => "append"}, class: "btn btn-outline-dark btn-sm launch-quagga" %>
      </div>
    </div>
  </div>
</div>

<% end %>
