<div class="col-lg-8">
    <div class="row">
        <div class="col-md-6 mt-5 mb-3">
            <div class="card">
                <div class="seo-fact sbg1">
                    <div class="p-4 d-flex justify-content-between align-items-center">
                        <div class="seofct-icon"><i class="ti-thumb-up"></i> Ventas totales</div>
                        <h2><%= @total_sales %></h2>
                    </div>
                    <canvas id="seolinechart1" height="50"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-md-5 mb-3">
            <div class="card">
                <div class="seo-fact sbg2">
                    <div class="p-4 d-flex justify-content-between align-items-center">
                        <div class="seofct-icon"><i class="ti-share"></i> <%=t('Day sales')%></div>
                        <h2>3,984</h2>
                    </div>
                    <canvas id="seolinechart2" height="50"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3 mb-lg-0">
            <div class="card">
                <div class="seo-fact sbg3">
                    <div class="p-4 d-flex justify-content-between align-items-center">
                        <div class="seofct-icon">Impressions</div>
                        <canvas id="seolinechart3" height="60"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="seo-fact sbg4">
                    <div class="p-4 d-flex justify-content-between align-items-center">
                        <div class="seofct-icon">New Users</div>
                        <canvas id="seolinechart4" height="60"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- order list area start -->
<div class="card mt-5">
    <div class="card-body">
        <h4 class="header-title">Todays Order List</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"><%=t('Product')%></th>
                    <th scope="col"><%=t('Quantity')%></th>
                    <th scope="col"><%=t('Price')%></th>
                    <th scope="col"><%=t('Order')%></th>
                    <th scope="col"><%=t('Date')%></th>
                  </tr>
                </thead>
                <tbody>
                  <% @sale_items.each do |sale_item| %>
                    <tr>
                      <td><%= sale_item.product.name %></td>
                      <td><%= sale_item.quantity %></td>
                      <td><%= sale_item.price %></td>
                      <td><%= sale_item.sale_order.number %></td>
                      <td><%= sale_item.created_at %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
          <%= will_paginate @sale_items %>
    </div>
</div>
