<p id="notice"><%= notice %></p>

<h1><%= @customer.fname%> <%=@customer.lname  %></h1>

<ul>
  <li><span>Email: </span><%= @customer.email %></li>

  <li><span>Phone: </span><%= @customer.phone %></li>

  <li><span>DNI: </span><%= @customer.dni %></li>

</ul>

<p><%= link_to 'Return Home', customers_path %></p>
