<p id="notice"><%= notice %></p>

<h1><%= @category.name %></h1>

<ul>
  <li><span><%=t('Name')%>: </span><%= @category.name %></li>
</ul>

<p><%= link_to t('Return home'), categories_path %></p>
