<div id="filterrific_results">
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%=t('Name')%></th>
        <th scope="col"><%=t('Brand')%></th>
        <th scope="col"><%=t('Unit')%></th>
        <th scope="col"><%=t('Stock')%></th>
        <th scope="col"><%=t('SS')%></th>
        <th scope="col"><%=t('Order_size')%></th>
        <th scope="col"><%=t('Supplier')%></th>
        <th scope="col"><%=t('Phone')%></th>
        <th scope="col"><%=t('Level')%></th>
        <th scope="col"><%=t('Category')%></th>
        <th colspan="3"  scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product_items|%>
      <tr class="<%= row_class(product_items.level) %>">
        <td><%= product_items.name %></td>
        <td><%= product_items.brand %></td>
        <td><%= product_items.unit %></td>
        <td><%= product_items.stock %></td>
        <td><%= product_items.ss %></td>
        <td><%= product_items.order_size %></td>
        <td><%= product_items.supplier.name %></td>
        <td><%= product_items.supplier.phone %></td>
        <td><%= product_items.level %></td>
        <td><%= product_items.category.name %></td>
        <td><%= link_to t('Show'), product_items, class: "btn btn-outline-dark btn-sm" %></td>
        <td><%= link_to t('Edit'), edit_product_path(product_items), class: "btn btn-outline-dark btn-sm" %></td>
        <td><%= link_to "", product_path(product_items), method: :delete, data: { confirm: t('Are you sure?') }, class: "fa fa-close" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate products %>
