<p id="notice"><%= notice %></p>
<h1>Create a new Product</h1>

<%= form_with(model: @product, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :brand %>
    <%= form.text_field :brand, id: :product_brand, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :unit %>
    <%= form.text_field :unit, id: :product_unit, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :stock %>
    <%= form.text_field :stock, id: :product_stock, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :ss %>
    <%= form.text_field :ss, id: :product_ss, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :deliver_time %>
    <%= form.text_field :deliver_time, id: :product_deliver_time, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :order_size %>
    <%= form.text_field :order_size, id: :product_order_size, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :supplier %>
    <%= form.collection_select :supplier_id, Supplier.all, :id, :name, {prompt: true}, {:class=>"form-control"}  %>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.collection_select :category_id, Category.all, :id, :name, {prompt: true}, {:class=>"form-control"}  %>
  </div>

  <div class="form-group">
    <%= form.label :commentary %>
    <%= form.text_area :commentary, id: :portfolio_commentary, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit :class=>"btn btn-primary"%>
  </div>
<% end %>
