<p id="notice"><%= notice %></p>

<h1>Suppliers</h1>

<%= link_to 'New Supplier', new_supplier_path %>

<table class="pure-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Prone</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supplier_items.each do |supplier_items| %>
      <tr>
        <td><%= supplier_items.name %></td>
        <td><%= supplier_items.phone %></td>
        <td><%= supplier_items.address %></td>
        <td><%= link_to 'Show', supplier_items %></td>
        <td><%= link_to "Edit", edit_supplier_path(supplier_items) %></td>
        <td><%= link_to 'Destroy', supplier_path(supplier_items), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
