<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4 text-left">
    <h1><%=t('Suppliers')%></h1>
  </div>

  <div class="col-md-4 offset-md-4 text-right">
    <%= link_to '<i class="fa fa-plus fa-3x"></i>'.html_safe, new_supplier_path %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%=t('Name')%></th>
      <th scope="col"><%=t('Manager')%></th>
      <th scope="col"><%=t('Phone') %></th>
      <th scope="col"><%=t('Address')%></th>
      <th colspan="3" scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @supplier_items.each do |supplier_items| %>
      <tr>
        <td><%= supplier_items.name %></td>
        <td><%= supplier_items.manager %></td>
        <td><%= supplier_items.phone %></td>
        <td><%= supplier_items.address %></td>
        <td><%= link_to t('Show'), supplier_items, class: "btn btn-outline-dark btn-sm" %></td>
        <td><%= link_to t('Edit'), edit_supplier_path(supplier_items), class: "btn btn-outline-dark btn-sm" %></td>
        <td><%= link_to t('Destroy'), supplier_path(supplier_items), method: :delete, data: { confirm: t('Are you sure?') }, class: "btn btn-outline-dark btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
