<p id="notice"><%= notice %></p>

<h1><%= @supplier.name %></h1>

<ul>
  <li><span>Name: </span><%= @supplier.name %></li>
</ul>

<ul>
  <li><span>Phone: </span><%= @supplier.phone %></li>
</ul>

<ul>
  <li><span>Address: </span><%= @supplier.address %></li>
</ul>

<p><%= link_to 'Return Home', suppliers_path %></p>
