<p id="notice"><%= notice %></p>

<h1><%= @supplier.name %></h1>

<ul>
  <li><span><%=t('Manager')%>: </span><%= @supplier.manager %></li>

  <li><span><%=t('Phone')%>: </span><%= @supplier.phone %></li>

  <li><span><%=t('Address')%>: </span><%= @supplier.address %></li>
</ul>

<p><%= link_to t('Return Home'), suppliers_path %></p>
