<!DOCTYPE html>
<html>
<head>
  <title>InventorySys</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% I18n.available_locales %>
</head>

<body>
  <div class="wrapper">
    <!--Navbar content -->
    <nav id="sidebar">

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= link_to t('Sale_orders'), sale_orders_path, { :class=>"nav-link" } %>
        </li>
        <li class="list-group-item">
          <%= link_to t('Purchase_orders'), purchase_orders_path, { :class=>"nav-link" } %>
        </li>
        <li class="list-group-item">
          <%= link_to t('Products'), products_path, { :class=>"nav-link" } %>
        </li>
        <li class="list-group-item">
          <%= link_to t('Categories'),  categories_path, { :class=>"nav-link" } %>
        </li>
        <li class="list-group-item">
          <%= link_to t('Suppliers'), suppliers_path, { :class=>"nav-link" } %>
        </li>
        <li class="list-group-item">
          <%= link_to t('Customers'), customers_path, { :class=>"nav-link" } %>
        </li>
        <li class="list-group-item">
          <%= link_to t('Replenishers'), replenishers_path, { :class=>"nav-link" } %>
        </li>
      </ul>
    </nav>

    <!--start content-->
    <div id="content" class="flex-fill">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
              <button type="button" id="sidebarCollapse" class="btn btn-info">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
      </nav>
      <%= yield %>
    </div>
  </div>
</body>
</html>
