<!DOCTYPE html>
<html>
<head>
  <title>InventorySys</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="wrapper">
    <!--Navbar content -->
    <nav id="sidebar">

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= link_to '<h1 class="display-6">Sale Orders</h1>'.html_safe, sale_orders_path %>
        </li>
        <li class="list-group-item">
          <%= link_to '<h1 class="display-6">Purchase Orders</h1>'.html_safe, purchase_orders_path %>
        </li>
        <li class="list-group-item">
          <%= link_to '<h1 class="display-6">Products</h1>'.html_safe, products_path %>
        </li>
        <li class="list-group-item">
          <%= link_to '<h1 class="display-6">Categories</h1>'.html_safe,  categories_path %>
        </li>
        <li class="list-group-item">
          <%= link_to '<h1 class="display-6">Suppliers</h1>'.html_safe, suppliers_path %>
        </li>
        <li class="list-group-item">
          <%= link_to '<h1 class="display-6">Customers</h1>'.html_safe, customers_path %>
        </li>
        <li class="list-group-item">
          <%= link_to '<h1 class="display-6">Replenishers</h1>'.html_safe, replenishers_path %>
        </li>
      </ul>
    </nav>

    <!--start content-->
    <div id="content" class="flex-fill">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
              <button type="button" id="sidebarCollapse" class="btn btn-info">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
      </nav>
      <%= yield %>
    </div>
  </div>
</body>
</html>
